# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# VS Code settings
.vscode/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Python cache
*.pytest_cache/
*.mypy_cache/
